.page-popup {
	background:  #efefef;	
}

.page {
	background: white;	
}

.tool-bar {
	background:  #efefef;	
}

.page-separator-bottom {
	border-bottom: 1px solid silver;	
}

.page-separator-top {
	border-top: 1px solid silver;	
}

.page-separator-left {		
	border-left: 1px solid silver;	
}


/* Dashboard Chooser*/
.dashChooserButton {
	display: block;
	height: 82px;
	width: 211px;
    font-weight: bold;
    position: relative;
}

.dashChooserButton em {
	display: block;
    height: 82px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/grs/dashChooserButtons.png");
}

.dashChooserButton span {
	display: block;
    width: 111px;
    text-align: left;
    color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 21px;
}

.dashChooserButtonDisabled span {
    color: #c0c0c0 !important;
}

.mdDashChooserButton em {
    background-position: 0 0;
}

.mdDashChooserButtonDisabled em  {
    background-position: 0 -82px;
}

.adDashChooserButton em  {
    background-position: -100px 0;
}

.adDashChooserButtonDisabled em  {
    background-position: -100px -82px;
}

.ddDashChooserButton em  {
    background-position: -200px 0;
}

.ddDashChooserButtonDisabled em  {
    background-position: -200px -82px;
}

.tdDashChooserButton em  {
    background-position: -300px 0;
}

.tdDashChooserButtonDisabled em  {
    background-position: -300px -82px;
}
/*about doc styling*/
.jarName, .listHeader{
	font-family:Arial;
	font-size:12;
	font-weight:bold;
}
.jarLicText{
	font-family:Courier;
	font-size:12;
	font-weight:normal;
}
span.jarLicText li{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	list-style-type:circle;
	margin-left: 40px;
}
