.company-section {	
	background-image: url('/grs/images/planning/head/company.jpg');
	background-repeat :	no-repeat;
	background-position: left center;
	width: 257px;
	height: 40px;
	cursor: pointer;
}

.left-section {	
	background-image: url('/grs/images/planning/head/left.jpg');
	background-repeat: repeat-x;
	width: 50%;
	height: 40px;
}

.tool-section {	
	background-image: url('/grs/images/planning/head/rc.jpg');
	background-repeat :	no-repeat;
	background-position: left center;
	width: 243px;
	height: 40px;
}

.center-section {	
	background-image: url('/grs/images/planning/head/center.jpg');
	background-repeat: repeat-x;
	width: 50%;
	height: 40px;
}

.menu-section {	
	background-image: url('/grs/images/planning/head/right.jpg');
	background-repeat :	no-repeat;
	background-position: left center;
	width: 201px;
	height: 40px;
}