/*
 * Classes for images active/inactive buttons
 */

img.pressed, input.pressed {
	cursor: pointer;
    margin: 2px;    
    opacity : 0.5;
    filter:alpha(opacity=50);
    outline-style: inset;
    outline-width: 1px;
    padding: 3px;
    vertical-align: middle;
    padding: 1px;
}

img.active, input.active {
	cursor: pointer;
    margin: 2px;
    opacity : 1.0;
    filter:alpha(opacity=100);
    outline-style: outset;
    outline-width: 1px;
    background-color: transparent;
    vertical-align: middle;
    padding: 1px;
}

img.inactive, input.inactive { 
	cursor: pointer; 
    margin: 2px;
    opacity : 1.0;
    filter:alpha(opacity=100);
    padding: 1px;       
    vertical-align: middle; 
}

.page-button-bar {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid silver;
    background-color: #EAEAEA;
    position: relative;
}

.page-button-search-bar {
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}

.page-button-bar-auto-size {
    margin-bottom: 10px;
    margin-top: 10px;
}

.page-button-bar-auto-size-attach {
	float:left;
    margin-bottom: 0px;
    margin-top: 0px;
}

.page-button-bar-auto-size-floating {
    position:fixed !important;
    top:95px;
    right:40px;
    border: 1px silver solid;  
    background-color: #DAD5CE;
    z-index: 100;
}

.modal-window .page-button-bar-auto-size-floating {
    top:35px;
    z-index: auto;
}

/* deprecated that was a fix for IE7 and tabs*/
.page-button-bar-tab-auto-size-floating {
    position:fixed;
    top:120px;
    right:40px;
    border: 1px silver solid;  
    background-color: #DAD5CE;
}

a.button,
input.button,
.ui-dialog .ui-dialog-buttonpane button {
	font-family: Arial, Verdana, sans-serif !important;
    font-size: 11px !important;
	cursor: pointer;
	text-decoration: none !important;
	color: black !important;
    background: #fce7c5 url("images/common/bt-off.gif") repeat-x left top;
    font-weight: bold;
    border: solid 1px #ec972d !important;
    margin: 0 2px 0 2px !important;
    padding: 0 15px 0 15px;
    zoom: 1;
}

a.button:hover,
input.button:hover,
.ui-dialog .ui-dialog-buttonpane button:hover {
	background: #fdf1dd url("images/common/bt-on.gif") repeat-x left top;
}

a.button[disabled],
input.button[disabled],
.ui-dialog .ui-dialog-buttonpane button[disabled] {
	background: #fdf1dd url("images/common/bt-on.gif") repeat-x left top;
	cursor: default;
}

a.new-entry {
	padding-left: 25px !important;
    background: #fce7c5 url("images/common/bt-new-off.gif") no-repeat left top !important;
}

a.new-entry:hover {
    background: #fce7c5 url("images/common/bt-new-on.gif") no-repeat left top !important;
}

a.button {
    padding: 2px 15px 2px 15px;
}

input.button {
	height: 20px;
	padding: 0;
}

.ui-dialog .ui-dialog-buttonpane button {
    height: 20px;
}

/* ie7 hack (only modern browsers understand statement below) */
html>/**/body input.button {
    padding: 0 15px 0 15px;
}

/* ie7 hack (only modern browsers understand statement below) */
html>/**/body a.button {
    line-height: 20px;
}

.button-disabled {
	cursor: default; 
	background-color: #E3DED5; 
	color: #B1ADA7;
	border: solid 1px;
	margin: 0 2px 0 2px !important;
}

.button.disabled {
	cursor: not-allowed; 
	background-color: #E3DED5 !important; 
	color: #B1ADA7 !important;
	border: solid 1px !important;
	background-image: none !important;
}

.button-not-visible {
	display: none;
}	