.task-section {	
	background-image: url('/grs/images/planning/icons/large/task.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.iteration-section { 
    background-image: url('/grs/images/planning/icons/large/iter.gif'); 
    background-repeat : no-repeat;
    background-position: left center;   
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.defect-section {	
	background-image: url('/grs/images/planning/icons/large/defect-enh.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.req-section {	
	background-image: url('/grs/images/planning/icons/large/req.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.req-list-section {	
	background-image: url('/grs/images/planning/icons/large/req-list.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.man-test-section {	
	background-image: url('/grs/images/planning/icons/large/man-test.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}


.auto-test-section {	
	background-image: url('/grs/images/planning/icons/large/auto-test.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.general-section {	
	background-image: url('/grs/images/planning/icons/large/general.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.attachment-section {	
	background-image: url('/grs/images/planning/icons/large/attachment.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.comment-section {	
	background-image: url('/grs/images/planning/icons/large/comments.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.activity-section {	
	background-image: url('/grs/images/planning/icons/large/activity.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.worktime-section {	
	background-image: url('/grs/images/planning/icons/large/worktime.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.history-section { 
    background-image: url('/grs/images/planning/icons/large/activity.gif'); 
    background-repeat : no-repeat;
    background-position: left center;   
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.file-section-small {	
	background-image: url('/grs/images/planning/tabs/file.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 15px;
}

.man-test-section-small {	
	background-image: url('/grs/images/planning/icons/man-test.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;	
}

.auto-test-section-small {	
	background-image: url('/grs/images/planning/icons/auto-test.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;	
}

.task-section-small {	
	background-image: url('/grs/images/planning/icons/task.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.pr-fr-section-small {	
	background-image: url('/grs/images/planning/icons/pr-fr.gif'); 
	background-repeat :	no-repeat;
	background-position: left center;	
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;	
}