/*
 * General + page layout
 */
/*************From main.css*****************/

.menuItem {
    font-size: 11px;
    color: #707070;
    font-weight: normal;
    white-space: nowrap;
}

.mainMenuItem {
    vertical-align:     middle;
    padding-right:      3px;
    white-space:        nowrap;
    border:             0px none;
    margin:             0px none;
}

.commentHeader {
	background-color: #dddddd;
	width: 680px;
	border: 0px none;
	font-size: 13px;
}
/***************************************/

.page-search-section {
	padding-left: 10px;
	width: 175px;
	padding-bottom: 5px;
}

.page-search-section-txt {
    font-size: 12px;	
	text-align: left;
	color: black;
	font-weight: bold;	
	vertical-align: middle;
}

div.main-planning-image-section {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

img.main-planning-image {
	padding: 10px;	
}

.page-help-txt-col {
    text-align: right;
    padding-left: 8px;
    vertical-align: middle;
    height: 25px;
}
.page-help-img-col {
    text-align: left;
    height: 25px;
    vertical-align: middle;
    padding-bottom: 3px;
}	

/*
 * Classes for input/label
 */
 


.taskCommentCell {
width: 600px;	
}

.taskComment {
	font-family: Verdana, sans-serif;
	border: 0px none;
	vertical-align: top;
	padding-left: 4px;
	margin: 3px;
	width: 600px;
	background-color: transparent;
	overflow: auto;
}

.paragraph {
	font-family: Verdana, sans-serif;
	font-size: 12px;	
	vertical-align: top;
	background-color: transparent;
}

/*
 * Hack for file upload
 */
div.rich-fileupload-list-decor {
	border: 1px solid #EC972D;
	vertical-align: top;
	margin: 3px;
}

.taskDescription
{
    vertical-align: top;
/*
    padding-left: 4px;
    width: 600px;
*/
    background-color: transparent;
    display: block;
    overflow: auto;
    margin-bottom: 10px;
}

.defectDescription
{
    vertical-align: top;
/*
    padding-left: 4px;
    width: 600px;
*/
    background-color: transparent;
    display: block;
    overflow: auto;
    margin-bottom: 10px;
}

/*
 * autocomplete input text (jQuery)
 */
 
.ac_results {
    padding: 0px;
    border: 1px solid silver;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /* 
    if width will be 100% horizontal scrollbar will apear 
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /* 
    it is very important, if line-height not setted or setted 
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    background: white url('/grs/images/planning/tabs/loader.gif') right center no-repeat;
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #0A246A;
    color: white;
}

.field-set-plan {
    margin: 0px;
    border: 1px solid #a2a2a2;   
    padding: 3px;
}

table.wizzard {
	border: 2px solid silver;
	border-collapse: collapse;	
}

td.step-selected {
	background-color: orange;
	font-size: 14px;
	font-weight: bold;	
}

td.step-not-selected {
	background-color: #F8F8FF;
	font-size: 14px;	
}

a.demoLink, a.demoLink:hover {
	text-decoration: none;
}

a.demoLink img {
	vertical-align: middle;
}

.capacityBar {
	height: 22px;
	width: 260px;
	font-weight: normal;
}

.capacityBar > img {
    margin-top: 3px;
    cursor: help;
}

.capacityBar > label {
    line-height: 22px !important;
    height: 22px !important;
    vertical-align: top !important;
}

.capacityBar .txt,
.capacityBar .bar {
    float: left;
}

.capacityBar .txt {
    height: 20px;
    line-height: 20px;
    padding-right: 5px; 
}

.capacityBar .bar {
    height: 20px;
    width: 200px;
    background-color: white;
    background-image: url("images/planning/capacity-bar-free.png");
    border: solid 1px #c0c0c0;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    cursor: help;
}

.capacityBar .emptyBar {
    background-color: transparent;
    background-image: none;
}

.overloadedCapacityBar .bar {
    background-image: url("images/planning/capacity-bar-bgr.png");
    background-repeat: no-repeat;
    cursor: help;
}

.capacityBar .bar span {
    display: block;
    float: left;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: help;
}

.capacityBar .bar .CAPACITY_BAR_NOT_FINISHED {
    background-image: url("images/planning/capacity-bar-scheduled.png");
}

.capacityBar .bar .CAPACITY_BAR_FINISHED {
    background-image: url("images/planning/capacity-bar-finished.png");
}

.capacityBar .bar .CAPACITY_BAR_ELAPSED {
    background-image: url("images/planning/capacity-bar-elapsed.png");
}

.stepLabel {
	font-weight:bold;
	vertical-align: top;
}

/*
    RichFaces overrides
*/
.drgind_default .drgind_marker {
	background-color: #EF6771;
	border-top-color:#96000B;
	border-left-color:#96000B;
	border-bottom-color:#96000B;
	vertical-align:top;
}
