
.in_progress, select.task-status > option[value='in progress'] {
	background-color: #C7D9E0; 
}

.failure {
	background-color: #FFB492; 
}

.failure-no-opacity {
	background-color: #FF9A79; 
}

.success, select.task-status > option[value='success'] {
	background-color: #C7E6A4; 
}

.success-no-opacity {
	background-color: #C7E6A4;
}

.error {
    background-color: #FFE68F; 
}

.canceled, select.task-status > option[value='canceled'] {
    background-color: #FFE68F; 
}

.open, select.task-status > option[value=open] {
    background-color: #E8E5DC; 
}

.open-no-opacity {
    background-color: #E8E5DC;		
}

.open-no-xreport {
    background-color: #D1D4DA;	
   	opacity: 0.9;
    filter:alpha(opacity=90); 
}

.not-tested {
    background-color: #FF8A00; 
    opacity: 0.5;
    filter:alpha(opacity=50)
}

.not-tested-xreport {
    background-color: #FF8A00;
    opacity: 0.8;
    filter:alpha(opacity=80);    
}

.new-fail {
    background-color: #ff9ef9; 
    opacity: 0.5;
    filter:alpha(opacity=50)
}

.new-fail-no-opacity {
    background-color: #FFB9FB; 
}

.info {
    color: #2b5fe9;
    font-style: italic;
    font-weight: bold;
    font-size: 11px;
    display: block;
}

.small-info {
    color: #2b5fe9;
    font-style: italic;
    font-weight: bold;
    font-size: 9px !important;
    display: block;
}

div.alert {
    background-color: transparent !important;
    background-image: url('/grs/images/planning/status/alert.gif') !important;
    background-repeat: no-repeat !important;
    background-position: left !important; 
    margin-left: 10px;
    position: relative;
}

div.alert div {
    position: absolute;
    top: 25px;
    left: 50px;
    font-style: oblique;
}