table.table-frame {
	border-collapse: collapse;	
	border: 1px solid silver; 
}

table.data-table {
	border-collapse: collapse;	
	border: 1px solid silver; 
}

/**
 * Start
 */
table.result-table {
	border-collapse: collapse;
	border: 1px solid silver;
}

table.result-table td.date{
	padding: 5px;
	width: 80px;
}

table.result-table td.work-time{
	padding: 5px;
	width: 45px;
}

table.result-table td.id{
	padding: 5px;
	width: 45px;
}

table.result-table td.tab-head{
	padding: 5px;
}

table.result-table thead tr td {
	border: 1px solid silver;
	background-color: #DAD5CE;
	text-align: center;
	vertical-align: middle;
	color: black;
}

table.result-table thead th {
	padding:3px;
}

table.result-table tfoot tr td {
	border: 1px solid silver;
	background-color: #DAD5CE;
	text-align: center;
	vertical-align: middle;
	color: black;
	padding: 3px;
}

table.result-table tbody tr td {
	border: 1px solid silver;
	text-align: center;
	vertical-align: middle;
	padding: 3px;
}

table.result-table tr.testOutcome {
	font-weight: bold;
	background-color: #DAD5CE;
}

table.result-table tr.header {
	font-weight: bold;
	background-color: #DAD5CE;
}

table.result-table tr.normal {
	background-color: white;
}

table.result-table tr.shadow,
table.result-table tr.shadow0 {
	background-color: #EFEFEF;
}

table.result-table tr.shadow1 {
    background-color: #f0f0f0;
}

table.result-table tr.shadow2 {
    background-color: #f5f5f5;
}

table.result-table tr.shadow3 {
    background-color: #fbfbfb;
}

table.result-table td.testColorGreen {
	background-color: #C7E6A4;
}

table.result-table td.testColorRed {
	background-color: #FFB492;
}
/**
 * End
 */
.no-border {
	border: 0px none; 	
}

table td.table-cell-left a, table td.table-cell-center a, table td.table-cell-right a {
    text-decoration: underline;
	font-weight: bold;
	cursor: pointer;	
}

.table-align-center {
	text-align: center;	
}

.table-cell-checkbox {
	border: 1px solid #EC972D;
	/*background-color: white;*/	
	text-align: center;
	vertical-align: middle;	
	padding: 3px;
}

.table-cell-left {
	border: 1px solid silver; 
	text-align: left;
	vertical-align: middle;	
	padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
}

.table-empty {
    border: 1px solid silver; 
    text-align: left;
    vertical-align: middle; 
    padding-top: 3px;
    padding-bottom: 3px;
    font-style: italic;
}

.table-cell-inplace-edit {       
    background-image: url('/grs/images/planning/inline-update.gif'); 
    background-repeat : no-repeat;
    background-position: bottom center; 
    padding-bottom: 10px;  
    padding-left: 2px;
    padding-right: 2px;  
}

.table-cell-center { 
	border: 1px solid silver;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 3px;
	overflow: hidden;
}

.table-cell-padding-left {
	padding-left: 23px !important;
}

.drag-cell { 
    cursor: move;
}

.table-cell-right { 
	border: 1px solid silver;
	text-align: right;
	vertical-align: middle;
	padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
}

html>/**/body .table-cell-right, html>/**/body .table-cell-left {
    padding: 3px;    
}

.table-cell-left-no-border { 
	text-align: left;
	vertical-align: middle;	
	padding: 3px;	
}

.table-cell-center-no-border { 
	text-align: center;
	vertical-align: middle;
	padding: 3px;
    height: 100%;
    width: 100%;	
}

.table-cell-center-no-padding { 
	border: 1px solid silver;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}

.table-cell-right-no-border { 
	text-align: right;
	vertical-align: middle;
	padding: 3px;
	
}

.table-cell-action {
    border: 1px solid #EC972D;
    /*background-color: white;*/    
    text-align: center;
    vertical-align: middle; 
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 10px;        
}

.table-header, .table-header > span {
   font-size: 10px !important;
}
	
.table-header {
	border: 1px solid silver;
	background-color: #DAD5CE;
	text-align: center;
	vertical-align: middle;
	color: black;		
		
}

.table-caption {
	background-color: #DBDBCB;
    font-size: 10px;	
	text-align: center;
	vertical-align: middle;
	color: black;		
	clear:both;	
    height: auto;
    padding: 2px;
    border:1px solid silver;
}

.table-header-no-bgr {
	border: 1px solid silver;
	text-align: center;
	vertical-align: middle;
	color: black;
}

.table-header-sorting {
    background-image: url('/grs/images/planning/sorting.gif');
    background-repeat: no-repeat;
    background-position: right;		
	cursor: pointer;
	padding-left: 10px;
}

.table-header-sorting-up {
    background-image: url('/grs/images/planning/sorting-up.gif');
    background-repeat: no-repeat;
    background-position: right;         
    cursor: pointer;
    padding-left: 10px;
}

.table-header-sorting-down {
    background-image: url('/grs/images/planning/sorting-down.gif');
    background-repeat: no-repeat;
    background-position: right;         
    cursor: pointer;
    padding-left: 10px;
}

td.label {
	vertical-align: middle;
	text-align: right;
}

td.input {
	vertical-align: middle;
	text-align: left;
}

td.image {
	vertical-align: middle;
	text-align: center;	
	padding-left: 5px;	
}

td.image img {
	cursor: auto;	
}

td.input {
	vertical-align: middle;
	text-align: left;	
}
 
td.rowTop { 
	vertical-align: top;
}

.oddRow {
    background-color: white;
}

.oddRow:hover {
    background-color: #FFF6DF;   
}

.evenRow {
    background-color: #eeeeee;    
}

.evenRow:hover {
    background-color: #FFF6DF;  
}

.column-left {
	text-align: right;
}

.column-right {
	text-align: left;
}

.extdt-group-cell {
	color:#3284b3;
}

.extdt-cell-div {
	white-space: normal !important;
}

div.rich-extdt-maindiv {
}

.extdt-outerdiv {
    position: static;
}

.extdt-innerdiv {
    position: static;
}

.rich-stglpanel {
	border: none !important;
	background: transparent;
	padding:0px;
}

.rich-stglpanel-header {
	background: transparent !important;
	border: none !important;
	font-weight: normal;
    padding:0px;
    margin: 0px;
}

.rich-stglpanel-body {
    overflow:hidden;
    background: transparent;
}

.rich-stglpanel-marker {
	float:left !important;
}

.table-container {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.table-container-top {
	top: 25px;
}

.table-filter {
    background-color: #DBDBCB;
    font-size: 10px;    
    text-align: center;
    vertical-align: middle;
    color: black;       
    clear:both; 
    height: 25px;
    padding: 2px;
    border: 1px solid silver;
    margin-bottom: 10px;
    position: relative;
}

.table-filter-disabled {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: gray; 
    z-index: 100;
    opacity : 0.1;
    filter:alpha(opacity=10);
}

.table-filter-factors-short {
	position: absolute;
	right: 300px;
	text-align: left;
	vertical-align: middle;
	left:5px;
	bottom: 0px;
	top: 0px;	
	line-height: 25px; 
	text-overflow: ellipsis; 
	overflow:hidden;
	white-space: nowrap;
	padding-left: 20px;
	background-image: url('/grs/images/planning/buttons-small/filter.gif');
    background-repeat: no-repeat;
    background-position: left; 
}

.table-filter-factors-long {
    background-color: #DBDBCB;
    font-size: 10px;    
    text-align: left;
    vertical-align: middle;
    color: black;
    height: auto;
    border: 1px solid silver;
    position: absolute;
    left: 0px;
    right: 290px;
    top: 0px;
    /*padding: 5px;*/
    z-index: 500;
    line-height: 35px; 
}

.removed,
.used,
.used a,
.removed a {
    color: gray !important;
    font-style: italic;
    text-decoration: line-through;
}

/* table.report-table */
table.report-table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.report-table th, table.report-table td {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    border: 1px solid silver;
    text-align: center;
    padding: 8px;
}

table.report-table th {
	background-color: #dad5ce;
}

table.report-table .subSum, table.report-table tfoot td {
    background-color: #dddddd;
    font-weight: bold;
}

table.report-table .bold {
    font-weight: bold;
}

table.report-table .colGroupTop {
    border-top-width: 3px;
}

table.report-table .colGroupRight {
	border-right-width: 3px;
}

table.report-table .colGroupBottom {
    border-bottom-width: 3px;
}

table.report-table .colGroupLeft {
    border-left-width: 3px;
}
/* ~table.report-table */

/* crActivity */
.crActivity {
	margin: auto;
	width: 1000px;
}

.crActivity .crActivityTables {
	float: left;
	width: 650px;
	min-height: 1000px;
}

.crActivityDownTable {
	float: left;
	width: 850px;
}

.crActivity .crActivityTables .report-table {
	width: 550px;
	table-layout: fixed;
}

.crActivity .crActivityTables .report-table th,
.crActivity .crActivityTables .report-table td {
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.crActivity .crActivityChart {
	float: left;
	padding-top: 35px;
	margin-left: 30px;
	margin-top: 0px;
}

.crActivity .crActivityTables .crActivityTableTitle {
	color: #3D5068;
	padding: 20px 0 10px;
	margin-top: 6px;
	font-size: 12px;
    font-weight: bold;
    font-family: Arial,Verdana,sans-serif;
    text-align: center;
}

/* ~crActivity */
/* crTrendDetails */
.crTrendDetails .report-table {
    table-layout: fixed;
}

.crTrendDetails .report-table th,
.crTrendDetails .report-table td {
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ~crTrendDetails */


.wrap {
    white-space:normal; 
}