

/*
 * Overidden classes for rich-tree
 */
 
.rich-tree-node td {
    vertical-align: top;
}

.rich-tree-node-text {
	cursor: pointer;
}

.rich-tree-node-highlighted {
	color: black;
	text-decoration: none;	
}

.scenaroSetNode {
	background-color: #F4F4F4;
	text-shadow: navy;
}

.scenarioNode {
	background-color: /*#F8F8F8*/ transparent;	
}

.node-selected {
	border-width:0px;
	font-weight: bold;	
}

.node-selected-non-bold {
	border-color: transparent;
}

td.tree-label {
	text-align: center;
	vertical-align: middle;
	font-size: 10px;
}

td.tree-label-left, span.tree-label-left {
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
}

td.tree-label-left-filter, span.tree-label-left-filter {
	color: #707070;
	font-style: italic;
}

thead td.tree-label {
	text-align: center;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
}

.tree-tooltip-label {
	text-align: right;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;	
}

.tree-tooltip-txt {
	text-align: left;
	vertical-align: middle;
	font-size: 10px;	
}

td.proc-40-width {
	width: 40%;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
}

td.proc-42-width {
	width: 42%;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
}

td.proc-5-width {
	width: 5%;
	text-align: center;
	vertical-align: middle;
	font-size: 10px;
}

td.proc-10-width {
	width: 10%;
	text-align: center;
	vertical-align: middle;
	font-size: 10px;	
}

td.pixel-300-width {
    width: 300px;
    overflow: hidden;
}

td.pixel-75-width {
    width: 75px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

td.pixel-50-width {
    width: 50px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

td.pixel-100-width {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

td.pixel-150-width {
    width: 150px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.highlighted {
	background-color: #F4F4F4;
}