BODY, P, OL, UL, LI, TD, SELECT, INPUT, TEXTAREA {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    font-style: normal;
	color: #000000;
	
}

A:link, A:active, A:visited {
	font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
	color: #00258E;
	text-decoration: none;
}

A:hover {
	font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #00258E;
	text-decoration: underline;
}


H1 
{
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

H2 
{
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-transform: capitalize;
}

H3 
{
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.blue_text {
    color: #00258E;
}

UL {
  list-style: disc inside;
}

UL.list {
  padding:10px !important;
}

ul.list > li {
  padding:3px !important;
}

PRE {
	font-family: monospace;
	font-size: 11px
}

PRE.logs {
	padding: 10px;
	line-height: 18px !important;
}

CODE {
	font-family: monospace;
	font-size: 11px
}

P.indented {
	margin: 0px 30px
}


TABLE.common {
    padding: 0pt;
    margin: 0pt;
    border-style: none;
}

.warning {
    font-size:6pt;
    color: red;
}

.warning_10 {
    font-size:10px;
    color: red;
}

.warning_12 {
    font-size:12px;
    color: red;
}

.label
{ font-weight: bold }

li > div { display: inline;}

.level_0
{ color: #00258E;}

.level_ok
{ color: green }

.level_warn
{ color: gold }

.level_alert
{ color: red }

.token_no_match
{ color: purple}

.feature_used
{ color: green; font-weight: bold }

.feature_unused
{ color: gray }

.text_green
{ color: green }

.text_red
{ color: red }

.text_gold
{ color: goldenrod }

#td_li_color_gray TD, #td_li_color_gray LI
{ color: gray }

table.content {
  padding:7px;
}

table.content td {
  padding:3px;
}

form.content {
  padding-left:10px !important;
}

td.label {
  text-align:left !important;
}

