#reportCenterMenu {
	cursor: pointer;
	width: 170px;
	font-size: 19px;
	color: white;
	font-weight: bold;
	margin: auto;
	height: 30px;
}

#reportCenterMenu.reports {
	width: 120px;
}

#reportCenterMenu a {
    color: white !important;
    font-family: Arial, Verdana, sans-serif;
	font-size: 21px;
	position: relative;
	left: 19px;
	top: 2px;
	font-weight: 300;
}

#reportCenterMenu > a {
	display: block;
	float: left;
	height: 24px;
	line-height: 24px;
}

#reportCenterMenu > a.arrow {
	position: relative;
	left: 52px;
	top: 2px;
}

#reportCenterMenu > a span {
	border-top-color: #658bb7;
}

#reportCenterMenu > ul {
	position: absolute;
	top: 55px;
	list-style: none;
	margin-left: -5px;
	z-index: 110;
}

#reportCenterMenu > li {
	display: block;
	vertical-align: bottom;
	
}

#reportCenterMenu > ul li a {
	border: solid 1px #AFCAE9;
    background: white;
    color: #193459 !important;
    display: block;
	height: 25px;
	width: 110px;
	line-height: 25px;
	white-space: nowrap;
	padding: 0 10px 0 10px;
	text-decoration:none;
	box-shadow: 9px 10px 37px -8px #505050;
	font-size: 12pt;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	right: -5px;
	top: 35%;
	position: absolute;
}

/*
 #3d5068 - navy blue text color
*/

html, body {
	background: white !important;
}

#header {
    background: url("../images/common/header-1px.gif") repeat-x left top;
}

#header #applications {
	background: transparent url("../images/common/Header_DTP.gif") no-repeat left top;
}

#header #applications #appsMenu a {
    color: white !important;
}

#header #applications #appsMenu > a.arrow {
    border: solid 1px transparent;
}
 
#header #applications #appsMenu > a.arrow span {
    background: url("../images/common/arrow-off.gif") no-repeat center center;
}

#header #applications #appsMenu > a.arrow:hover {
    border: solid 1px #416589;
    background: transparent url("../images/common/bgr-sub-on.gif") repeat-x left center;
}

#header #applications #appsMenu > a.arrow:hover span {
    background: url("../images/common/arrow-on.gif") no-repeat center center;
}

#header #applications #appsMenu > ul {
    border: solid 1px #658bb7;
    border-top: none;
}

#header #applications #appsMenu > ul li a {
    background: white;
    color: #193459 !important;
}

#header #applications #appsMenu > ul li:hover a {
	color: black !important;
	background: #dce8f4;
}

#header #headerContent .links > li.separator-right {
    background: url("../images/common/header-links-sep.gif") no-repeat right center;
}

#header #headerContent .links > li > a,
#header #headerContent .dropDownMenu a.arrow {
    color: white !important;
}

.dropDownMenu {
    color: black;
}

.dropDown .toolbar {
    background: #3a6393 url("../images/common/tags-toolbar-bgr.gif") repeat-x left bottom;
}

.dropDown .toolbar > ul li {
    border: solid 1px #8db3d4;
    background: #b9d5f1;
}

.dropDown .toolbar > ul li.tag-filter-selected,
.dropDown .toolbar > ul li.single {
    border: solid 1px #8db3d4;
    border-bottom: solid 1px white;
    background: white;
}

.dropDown .toolbar > ul li a {
    color: #193459 !important;
}

.dropDown .toolbar > ul li.tag-filter-selected a,
.dropDown .toolbar > ul li.single a {
    color: black !important;
}

#header #headerContent #savedSearches > a {
    border: solid 1px transparent;
}

#header #headerContent #savedSearches > a > span {
    background: transparent url("../images/common/links-off.gif") no-repeat center center;
}

#header #headerContent #savedSearches > a:hover > span {
    background: transparent url("../images/common/links-on.gif") no-repeat center center;
}

#header #headerContent #savedSearches > a:hover{
	/*border: solid 1px #416589;
	background: transparent url("../images/common/bgr-sub-on.gif") repeat-x left center;*/
}

#header #headerContent #savedSearches > .dropDown {
    background: white;
}

#header #headerContent #savedSearches > .dropDown > div {
    background: white;
    border: solid 1px #8db3d4;
}

.savedSearches .list > ul > li:first-child, #my_tasks .state:first-child {
    border-top: none;
}

.savedSearches .list > ul > li > span, #my_tasks .state .label {
    color: #193459;
}

.savedSearches .list > ul > li > ul > li:hover {
    background: #dce8f4;
}

.savedSearches .list > ul > li > ul > li > a, #my_tasks div.task > div.id > a, #my_tasks div.button .switch a {
    color: #1c82dd !important;
}

.savedSearches .list > ul > li > ul > li > input {
	border: solid 1px transparent;
}

.savedSearches .list > ul > li > ul > li > input:hover {
    border: solid 1px white;
}

#my_tasks .state .inprogress, .section .inprogress {
	background-color: #dce8f4; 
}

#my_tasks .state .recent, .section .recent {
	background-color:  #c7e6a4;
}

#my_tasks .state .planned, .section .planned {
	background-color: #e8e5dc;
	border: none;
}

/* tags */
#header #headerContent #tags > a {
    border: solid 1px transparent;
}

#header #headerContent #tags > a > span {
    background: transparent url("../images/common/tags-off.gif") no-repeat center center;
}

#header #headerContent #tags > a:hover > span {
    background: transparent url("../images/common/tags-on.gif") no-repeat center center;
}

#header #headerContent #tags > a:hover {
	/*border: solid 1px #416589;
    background: transparent url("../images/common/bgr-sub-on.gif") repeat-x left center;*/
}

#header #headerContent #tags > .dropDown {
    background: white;
}

#header #headerContent #tags > .dropDown > div {
    background: white;
    border: solid 1px #8db3d4;
}

.tags .cloud > div > span:hover {
    background: #e5f0ff;/*#FFF2E0;*/
}

.tags .cloud > div > span > a {
    color: #1c82dd !important;
}

.tags .cloud > div > span > input {
    border: solid 1px transparent;
}

.tags .cloud > div > span > input:hover {
    border: solid 1px white;
}
/* ~tags */

#header #headerContent .search input {
	border:  solid 1px #5780a2;
	border-right: none;
}

#header #headerContent .search a {
    border:  solid 1px #5780a2;
    border-left: none;
}

#header #headerContent .search a:hover {
	background: url("../images/common/bgr-sub-on.gif") repeat-x left center;
	border-left: solid 1px #5780a2;
}

#content #pageTitle h1 {
    color: #3d5068;
}

#content #pageTitle > a {
	background: url("../images/common/tip-off.gif") no-repeat left top;
}

#content #pageTitle > a:hover {
    background: url("../images/common/tip-on.gif") no-repeat left top;
}

#menu {
    background: url("../images/common/menu-bg.gif") repeat left top;
}

#menu .defaultProject select {
    border: solid 1px #5780a2;
}

#menu .defaultProject select option {
    background: white;
}

#menu .defaultProject select option[selected="selected"] {
    background: transparent;
}

div#footer {
	color: white;
    background: url("../images/common/menu-bg.gif") repeat left top;
}

#page #status, #page span.rich-message-label {
    color: black;
}

#page #status > span {
    background: #edf5ff;
}

.message-error-label-small {	
    position: relative;	
}

.message-error-label-small span.rich-message-label {
    background: #ffe3da;
    text-align: center;
}

#page #status .message-error-label {
    background: #ffe3da;
}

.message-warn-label {
    background: #fdefc6;
}

#page #status .message-info-label {
    background: #e0eedb;
}

#my_tasks div.button, #my_tasks div.button a {
    color: #193459 !important;
}

#my_tasks div.button .arrow {
    background-image: url('../images/common/arrow-on.gif');
    background-repeat: no-repeat;
    background-position: center;  
    border-left: 1px silver dotted;
}

#my_tasks div.button .arrow > ul {
    border-top: 0px !important;
    border-left: 1px solid #8db3d4;
    border-right: 1px solid #8db3d4;
    border-bottom: 1px solid #8db3d4;
    background-color: white;
}

#my_tasks div.button .arrow > ul li {
    background-color: white;
}

#my_tasks div.task div.button .arrow > ul li:hover > a {
    color: black !important;
}

.section div.tasks_table {
    background-color: white;
}

li.more-the-one-tasks {
    background-image: url('/grs/images/planning/many-tasks-off.gif') !important;
    border-top: 1px solid #d4918d !important;
    border-left: 1px solid #d4918d !important;
    border-right: 1px solid #d4918d !important;
     
}

li.more-the-one-tasks:hover {
    background-image: url('/grs/images/planning/many-tasks-on.gif') !important;
}

li.more-the-one-tasks > div.sub {
    background-image: url('/grs/images/planning/separator-many-tasks-off.gif') !important;
}

li.more-the-one-tasks:hover > div.sub {
    background-image: url('/grs/images/planning/separator-many-tasks-on.gif') !important;  
}

li.one-tasks {
    background-image: url('/grs/images/planning/one-task-off.gif') !important;
    border-top: 1px solid #a6cf92 !important;
    border-left: 1px solid #a6cf92 !important;
    border-right: 1px solid #a6cf92 !important;
}

li.one-tasks:hover {
    background-image: url('/grs/images/planning/one-task-on.gif') !important;
}

li.one-tasks > div.sub {
    background-image: url('/grs/images/planning/separator-one-task-off.gif') !important;
}

li.one-tasks:hover > div.sub {
    background-image: url('/grs/images/planning/separator-one-task-on.gif') !important;  
}

.table-container .table-filter > div {
    border: 1px solid #afc3d4;
    background: url("../images/common/toolbar-bg.gif") repeat-x left top;
}

#content .dockPanel {
    border: 1px solid #afc3d4;
    background: url("../images/common/dock-panel-bg.gif") repeat-x left top;
}

.table-container .table-filter .commands select {
    border: solid 1px #5780a2;
}

.table-container .table-filter .commands select option {
    background: white;
}

.table-container .table-filter .commands select option[selected="selected"] {
    background: transparent;
}

input.iconButton, a.iconButton, img.iconButton,
input.toolbarButton, a.toolbarButton {
    border: solid 1px transparent;
}

input.iconButton:hover, a.iconButton:hover, img.iconButton:hover,
input.toolbarButton:hover, a.toolbarButton:hover {
    border: solid 1px #416589;
}

a.toolbarLink:hover {
}

.table-container .toolbar .count {
    background: url("../images/common/toolbar-separator.gif") no-repeat right center;
}

.table-container .toolbar .external {
    background: url("../images/common/toolbar-separator.gif") no-repeat right center;
}

.table-container .toolbar .external div.buttonSec {
	float: left;
}

.table-container .toolbar .external div.separator, div.separator {
	margin-right: 8px;
    padding-right: 8px;
    background: url("../images/common/toolbar-separator.gif") no-repeat right center;
}

.table-container .toolbar .internal {
    background: url("../images/common/toolbar-separator.gif") no-repeat left center;
}

#content .dockPanel, textarea, select, input[type~=text], input[type~=password], #my_tasks div.button, #my_tasks div.progress, #my_tasks div.planned {
    border: 1px solid #8DB3D4;
}

#header #headerContent .search input, #header #headerContent .search a, 
#menu .defaultProject select, .table-container .table-filter .commands select, .table-container .toolbar .add-area {
    background: #D9E7F1;
}

.task-bar, .table-container .table-filter, .table-container .toolbar, .table-container .scroller, .tableWrapper tfoot .rich-datascr {
	background: #DCE8F4;
}

.table-container .table-filter {
    border: none !important;
}

.details {
    background: #b3cae0 url("../images/common/toolbar-bg.gif") repeat-x left top;
}

.table-container .table-filter .expanded {
    border: 1px solid #afc3d4;
    border-top: none;
}

.details > div > label {
    color: #3d5068;
}

.table-container .table-filter .commands label {
    color: #3d5068;
}

#my_tasks {
    background-color: white;       
}

#my_tasks div.button {
    background-color: white;
}

.table-container .table-filter .commands .table-filter-confirm {
    background: #b3cae0 url("../images/common/toolbar-bg.gif") repeat-x left top;
}

.table-container .table-filter .commands .table-filter-confirm {
    background: #b3cae0 url("../images/common/toolbar-bg.gif") repeat-x left top;
}

.on-time {
	background-color: #AFE293;
	padding: 5px;
	color: gray;	
}

.possible-delay {
	background-color: #FCE39B;
	padding: 5px;
	color: gray;	
}

.delay {
	background-color: #FFB492;
	padding: 5px;
	color: gray;
}

.task-high-delay {
	background-color: #FFB492;
}

.task-low-delay {
	background-color: #FCE39B;
}

.success-tab {
    background: url("/grs/images/planning/tabs/success.gif") no-repeat left center;
}

.fail-tab {
    background: url("/grs/images/planning/tabs/fail.gif") no-repeat left center;
}

.incomplete-tab {
    background: url("/grs/images/planning/tabs/incomplete.gif") no-repeat left center;
}

.progress-tab {
    background: url("/grs/images/planning/tabs/progress.gif") no-repeat left center;
}

.not-run-tab {
    background: url("/grs/images/planning/tabs/not-run.gif") no-repeat left center;
}

.code-tab {
    background: url("/grs/images/planning/tabs/file.gif") no-repeat left center;
}

.man-test-tab {
    background: url("/grs/images/planning/icons/man-test.gif") no-repeat left center;
}

.auto-test-tab {
    background: url("/grs/images/planning/icons/auto-test.gif") no-repeat left center;
}

.task-tab {
    background: url("/grs/images/planning/icons/task.gif") no-repeat left center;
}

.pr-fr-tab {
	background: url("/grs/images/planning/icons/pr-fr.gif") no-repeat left center;
}

.req-tab {
    background: url("/grs/images/planning/icons/req.gif") no-repeat left center;
}

.attachment-tab {
    background: url("/grs/images/planning/icons/large/attachment.png") no-repeat left center;
}

.testing-history-tab {
    background: url("/grs/images/history.png") no-repeat left center;
}

.scenario-runs-tab {
    background: url("/grs/images/history.png") no-repeat left center;
}

.tab-loader {
    background: url("/grs/images/planning/tabs/loader.gif") no-repeat left center;
}

.plan-iter-header .iteration-tab {
    background: url("/grs/images/planning/icons/iteration.gif") no-repeat left center;
}

.plan-iter-header {
    background-color: #DCE8F4;	
}

.plan-iter-header .iterName, .plan-iter-header .iterName > a {
    color:#193459 !important;
}

div.panel-header {
    background:url("../images/common/tags-toolbar-bgr.gif") repeat-x scroll left bottom #3A6393;
}

.panel-header > .expanded {
    background-image:url("../images/common/colapse-vertical.gif");  
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.panel-header > .colapsed {
    background-image:url("../images/common/expand-vertical.gif");  
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.rich-datascr .rich-dtascroller-table .rich-datascr-act,
.rich-datascr .rich-dtascroller-table,
.rich-datascr .rich-dtascroller-table .rich-datascr-inact,
.rich-datascr .rich-dtascroller-table .rich-datascr-button, 
.rich-datascr .rich-dtascroller-table .rich-datascr-ctrls-separator {
    border: 0px !important;	
    background: transparent !important;
}

/*
.editTaskGeneralTab {
    background: white url("../images/common/edit-entity-bgr.gif") repeat-y 630px top !important;
}
*/

.editEntity {
    /*background: white url("../images/common/edit-entity-bgr.gif") repeat-y right top;*/
    padding-left: 15px;
}

.editEntity > .definition > .sec {
    background: #edf1f8 url("../images/common/edit-entity-def-sec-bgr.gif") repeat-x left bottom;
}

.editEntity > .activity .sec {
    border-top: solid 1px #c9c9c9 !important;
}

.editEntity > .activity .secHover, .qsearch > li:hover {
	background: #F3F7FF;
}

.editEntity > .activity .noHeader {
    border-top: none !important;
}

.editEntity > .activity > .statusSec {
    border-top: none !important;
}

.editEntity > .activity > .workTimeSec > .secIco {
    background: url("../images/planning/icons/clock.gif") no-repeat left top;
}

.editEntity > .activity > .commentsSec > .secIco {
    background: url("../images/planning/icons/comment.gif") no-repeat left top;
}

.editEntity > .activity > .attachmentsSec > .secIco {
    background: url("../images/planning/icons/attachment.gif") no-repeat left top;
}

.editEntity > .activity > .activitySec > .secIco {
    background: url("../images/planning/icons/activity.gif") no-repeat left top;
}

.editEntity > .activity > .historySec > .secIco {
    background: url("../images/planning/icons/history.gif") no-repeat left top;
}

.editEntity > .activity > .eSigSec > .secIco {
	background: url("../images/planning/icons/e-sign.gif") no-repeat left top;
}

.editEntity > .activity > .workflowSec > .secIco {
	background: url("../images/planning/icons/workflow.gif") no-repeat left top;
}

.editEntity > .activity > .scenarioSec > .secIco {
	background: url("/grs/images/planning/icons/large/man-test.gif") no-repeat left top;
}

.editEntity > .activity .sec > h3,
.editEntity > .activity .sec h4 {
    color: #3d5068;
}

.title-tip {
    background: #e0ecf9 !important;
    border: 1px solid #95b8db !important;
    opacity: 0.9 !important;
    filter:alpha(opacity=90) !important; 
}

ul.comments > li {
    border-top: solid 1px #c9c9c9;
    line-height: 20px;
}

ul.comments > li > div > span, .commentsSec .taskDesc > span {
    color: #3d5068;
}

.editEntity > .activity > .infoSec > .taskTypeInfo {
    color: #3d5068;
    background: #edf1f8;
}

.editEntity > .activity > .infoSec > .desc-summary a {
    color: #3d5068 !important;
}

ul.comments > li > div > span.when {
    color: #a5a5a5;
}

.editEntity > .activity > .workTimeSec > a {
    color: #3d5068 !important;
}

.iframe-loader {
    background-color: transparent;
}

#page #commands .iconLink {
    color: #193459 !important;
}

.iconLink {
	background-repeat: no-repeat;
	background-position: left center;
}

.newTask, .newIteration, .newRequirement, .newDefect, .newScenario {
	background-image: url("/grs/images/planning/buttons-small/new.gif");
}

.showRequirements {
	background-image: url("/grs/images/planning/icons/req.gif");
}

.showDefects {
	background-image: url("/grs/images/planning/icons/pr-fr.gif");
}

.showIterations {
	background-image: url("/grs/images/planning/icons/iteration.gif");
}

.showTasks {
	background-image: url("/grs/images/planning/icons/task.gif");
}

.showScenarios {
	background-image: url("/grs/images/planning/icons/man-test.gif");
}

.searchTasks, .searchIterations, .searchRequirements, .searchDefects, .searchScenarios {
	background-image: url("../images/common/magnifyGlass.gif");
}

.manageTasks, .manageRequirements, .manageScenarios {
	background-image: url("/grs/images/planning/buttons-small/manage.gif");
}

.importTasks, .importIterations, .importRequirements, .importScenarios, .importDefects {
	background-image: url("/grs/images/planning/buttons-small/import.gif");
}

.planning {
    background-image: url("/grs/images/planning/buttons-small/planning.gif");
}

.qsearch-criteria > a {
	background: url("../images/common/search.gif") no-repeat center;
}

.qsearch-criteria > a:HOVER {
	background: url("../images/common/search-over.gif") no-repeat center;
}

.modif {
    background: transparent url("/grs/images/planning/buttons-small/edit10.gif") no-repeat center center;
}

.apply {
    background: transparent url("/grs/images/planning/buttons-small/apply10.gif") no-repeat center center;
}

.cancel {
    background: transparent url("/grs/images/planning/buttons-small/cancel10.gif") no-repeat center center;
}

.settingsHint .example {
    background: white;    	
}

.settingsHint .example {
    border: 1px solid silver; 
}

div.panel-header > label {
    color: white;
}

.highlightedItem {
    background: #efefef;
}

.highlightedTitle {
    color: #3284B3;
}

.editEntity > .activity .noHeaderImp {
    border-top: medium none !important;
}

.modifHistoryGroupCell {
    border-top: 1px solid silver;	
}

.projectCombo{
    color:black
}

.comboDouble{
	color:black
}

.importNote {
	background-color: #E8F0f8; 
}

.importExample {
	background-color: #FFFFFF;
}

.pInline{
}

.pInlineMonospace{
}

.infoMessage {
    color: #2b5fe9;
}

/*----------------------------------------------
  grid
----------------------------------------------*/
table.grid {

}

table.gridWithoutTotal {
    border-bottom: solid 1px #e6e6e6;
}

table.grid > thead > tr,
/*
.scrTable .scrTableHeader table.grid > tbody > tr,
.scrTable .scrTableHeader table.grid > tbody > tr:hover {
*/
.scrollableDataGrid > thead table.grid > tbody > tr,
.scrollableDataGrid > thead table.grid > tbody > tr:hover,
.scrollableDataGrid table.grid > thead > tr > th /* this selector is important for ie7 */ {
    background: #e4e4e4 !important;
}

table.grid > thead > tr > th.neutralCol {
    background: #f4f4f4;
}

table.grid > thead > tr > th.successCol {
	background: #e0eedc;
}

table.grid > thead > tr > th.inProgressCol {
    background: #edf5ff;
}

table.grid > thead > tr > th.warnCol {
	background: #fef0c6;
}

table.grid > thead > tr > th.errorCol {
	background: #ffe3da;
}

table.grid > thead > tr > th.blank, 
table.grid > tbody > tr > td.blank, 
table.grid > tfoot > tr > td.blank {
	background-color: white;
	border: none;
}

table.grid > thead > tr > th.headerCol,
table.grid > tbody > tr > td.headerCol {
    background: #f4f4f4;
    border: solid 1px #c0c0c0;
    border-bottom: none;
}

table.grid > tbody > tr:hover,
table.grid > tbody > tr.alt:hover,
table.grid > tbody > tr.selected:hover {
    /*background: #fff6df; !important;*/
    background: #fff6df !important;
}

.scrollableDataGrid > tbody table.grid > tbody > tr.selected,
.scrollableDataGrid > tbody table.grid > tbody > tr.inplaceEdit {
    background: #ffeec6 !important;
    color: black;
}

.scrollableDataGrid > tbody table.grid > tbody > tr.ord {
    background: white;
}

.scrollableDataGrid > tbody table.grid > tbody > tr.ord:hover,
.scrollableDataGrid > tbody table.grid > tbody > tr.selected:hover,
#my_tasks div.task:hover {
    background: #fff6df !important;
}

table.codeReviewGrid > tbody > tr:hover {
    background: white !important;
}

table.codeReviewGrid > tbody > tr.alt:hover {
    background: #f4f4f4 !important;
}

table.grid > tbody > tr.selected {
	background: #ffeec6;
}

table.grid > thead > tr > th,
/*.scrTable .scrTableHeader table.grid > tbody > tr > td {*/
.scrollableDataGrid > thead table.grid > tbody > tr > td,
.scrollableDataGrid table.grid > thead > tr > th {
    border: solid 1px #c0c0c0;
    /*border-top: none;
    border-bottom: none;*/
}
table.grid > thead > tr > th a {
/*
    color: #3d5068;
*/
    color: #0c60b6;
}

.scrollableDataGrid > thead table.grid > tbody > tr > td > .sortingHeader,
.scrollableDataGrid table.grid > thead > tr > th > .sortingHeader {
    color: #0c60b6;
}

.scrollableDataGrid > thead table.grid > tbody > tr > td > .sortingHeader:hover,
.scrollableDataGrid table.grid > thead > tr > th > .sortingHeader:hover {
	color: orange;
}

.scrollableDataGrid > thead table.grid > tbody > tr > td > .sortingHeader > .table-header-sorting-up,
.scrollableDataGrid table.grid > thead > tr > th > .sortingHeader > .table-header-sorting-up {
	background-image: url('/grs/images/ascendingSort.gif');
	background-position: 0 0;
}

.scrollableDataGrid > thead table.grid > tbody > tr > td > .sortingHeader > .table-header-sorting-down,
.scrollableDataGrid table.grid > thead > tr > th > .sortingHeader > .table-header-sorting-down {
    background-image: url('/grs/images/lesseningSort.gif');
    background-position: 0 0;
}

table.grid > tbody > tr > td a,
table.grid > thead > tr > th a {
    color: #0c60b6;
}

table.grid > tfoot > tr > td {
    border-top: solid 1px #6d7f96;
}

table.grid > tbody > tr > td {
	border: solid 1px #e6e6e6;
	border-bottom: none;
}

table.grid > tbody > tr.alt {
	background: #f4f4f4;
}

table.grid > tbody > tr.last > td {
	border-bottom: solid 1px #e6e6e6;
}

.scrollableDataGrid > tbody table.grid > tbody > tr:first-child > td {
	border-top: solid 1px white;
    /*border-top: none;*/
}

.scrollableDataGrid > tbody table.grid > tbody > tr:first-child:hover > td {
	border-top: solid 1px #fff6df;
}

table.grid > tfoot > tr > td.weak,
table.grid > tbody > tr > td.weak,
table.grid > thead > tr > th.weak,
.scrollableDataGrid > tbody table.grid > tbody > tr.noMatch,
.scrollableDataGrid > tbody table.grid > tbody > tr.noMatch > td > * {
    color: #b2b2b2 !important;
}

table.grid > thead > tr > th.first,
table.grid > tbody > tr > td.first,
.scrollableDataGrid > thead table.grid > tbody > tr > td.first,
.scrollableDataGrid table.grid > thead > tr > th.first {
    border-left: none;
}

table.grid > thead > tr > th.last,
table.grid > tbody > tr > td.last,
.scrollableDataGrid > thead table.grid > tbody > tr > td.last,
.scrollableDataGrid table.grid > thead > tr > th.last {
    border-right: none;
}

.scrollableDataGrid > tbody table.grid > tbody > tr > td.table-empty,
.scrollableDataGrid table.grid > thead > tr > th.table-empty {
    border-left: none;
    border-right: none;
}


table.grid > tbody > tr > td.progressBar > div,
table.grid > tfoot > tr > td.progressBar > div {
    background: white;
}

table.grid > tbody > tr > td.progressBar > div > span,
table.grid > tfoot > tr > td.progressBar > div > span {
    border: solid 1px #bccbda;
}

table.grid > tbody > tr > td.progressBar > div > div,
table.grid > tfoot > tr > td.progressBar > div > div {
    background: #e2edf8;
}

/* Demo */

table.grid > tbody > tr > td.statusOpen,
table.grid > tfoot > tr > td.statusOpen,
table.grid > tbody > tr > td.statusOpen > a,
table.grid > tfoot > tr > td.statusOpen > a {
	color: #565656 !important;
}

table.grid > tbody > tr > td.statusInProgress,
table.grid > tfoot > tr > td.statusInProgress,
table.grid > tbody > tr > td.statusInProgress > a,
table.grid > tfoot > tr > td.statusInProgress > a {
	color: #4aa3db !important;
}

table.grid > tbody > tr > td.statusCompleted,
table.grid > tfoot > tr > td.statusCompleted,
table.grid > tbody > tr > td.statusSuccess,
table.grid > tfoot > tr > td.statusSuccess,
table.grid > tbody > tr > td.statusSuccess > a,
table.grid > tfoot > tr > td.statusSuccess > a {
	color: #60b31d !important;
}

table.grid > tbody > tr > td.statusCancelled,
table.grid > tfoot > tr > td.statusCancelled {
	color: #dcab00;
}

table.grid > tbody > tr > td.statusOpen > a:hover,
table.grid > tfoot > tr > td.statusOpen > a:hover,
table.grid > tbody > tr > td.statusSuccess > a:hover,
table.grid > tfoot > tr > td.statusSuccess > a:hover,
table.grid > tbody > tr > td.statusInProgress > a:hover,
table.grid > tfoot > tr > td.statusInProgress > a:hover,
table.grid > tbody > tr > td.statusFailed > a:hover,
table.grid > tfoot > tr > td.statusFailed > a:hover,
table.grid > tbody > tr > td.statusIncompleted > a:hover,
table.grid > tfoot > tr > td.statusIncompleted > a:hover {
    color: orange !important;
}

/**/
table.grid > tbody > tr > td.statusUnresolved,
table.grid > tfoot > tr > td.statusUnresolved {
    color: #565656;
}

table.grid > tbody > tr > td.statusNotTested,
table.grid > tfoot > tr > td.statusNotTested {
    color: #f18200;
}

table.grid > tbody > tr > td.statusFixed,
table.grid > tfoot > tr > td.statusFixed {
    color: #60b31d;
}

table.grid > tbody > tr > td.statusTestFailed,
table.grid > tfoot > tr > td.statusTestFailed {
    color: #e74837;
}

table.grid > tbody > tr > td.statusFailed,
table.grid > tfoot > tr > td.statusFailed,
table.grid > tbody > tr > td.statusFailed > a,
table.grid > tfoot > tr > td.statusFailed > a {
    color: #e74837 !important;
}

table.grid > tbody > tr > td.statusIncompleted,
table.grid > tfoot > tr > td.statusIncompleted,
table.grid > tbody > tr > td.statusIncompleted > a,
table.grid > tfoot > tr > td.statusIncompleted > a {
    color: #dcab00 !important;
}

/**/

table.grid > tbody > tr > td.testsIncompleted,
table.grid > tfoot > tr > td.testsIncompleted {
    color: #dcab00;
}

table.grid > tbody > tr > td.testsNotRequired,
table.grid > tfoot > tr > td.testsNotRequired {
    color: #60b31d;
}

table.grid > tbody > tr > td.testsNotTested,
table.grid > tfoot > tr > td.testsNotTested {
    color: #f18200;
}

table.grid > tbody > tr > td.testsNotRun,
table.grid > tfoot > tr > td.testsNotRun {
    color: #b2b2b2;
}

table.grid > tbody > tr > td.testsPassed,
table.grid > tfoot > tr > td.testsPassed {
    color: #60b31d;
}

table.grid > tbody > tr > td.testsFailed,
table.grid > tfoot > tr > td.testsFailed {
    color: #e74837;
}

table.grid > tbody > tr > td.testsInProgress,
table.grid > tfoot > tr > td.testsInProgress {
    color: #4aa3db;
}

/*=============================*/
.testsIncompleted {
    color: #dcab00 !important;
}

.testsNotRequired {
    color: #60b31d !important;
}

.testsNotTested {
    color: #f18200 !important;
}

.testsNotRun {
    color: #b2b2b2 !important;
}

.testsPassed {
    color: #60b31d !important;
}

.testsFailed {
    color: #e74837 !important;
}

.testsInProgress {
    color: #4aa3db !important;
}
/*=============================*/

.scrollableDataGrid > tbody table.grid > tbody > tr.inplaceEdit {
	border: none !important;
}

/* table.grid > tbody > tr.inplaceEdit > td, */
/* .scrollableDataGrid > tbody table.grid > tbody > tr.inplaceEdit > td, */
/* .scrollableDataGrid > tbody table.grid > tbody > tr.inplaceEdit:hover > td { */
/*     border-top: solid 1px #ec972d; */
/*     border-bottom: solid 1px #ec972d; */
/* } */

.scrollableDataGrid > thead table.grid > tbody > tr > td.table-header,
.scrollableDataGrid table.grid > thead > tr > th.table-header {
    background-color: transparent;
}

table.grid > tbody > tr.inplaceEditInvalid > td {
    background: none repeat scroll 0 0 #FFE3DA;
}

/* ~Demo */

table.treeGrid > tbody > tr.collapsed td .expander {
  background-image: url('../images/tree/expand.gif');
}

table.treeGrid > tbody > tr.expanded td .expander {
  background-image: url('../images/tree/collapse.gif');
}

table.treeGrid > tbody > tr:hover {
    background: white;
}

table.treeGrid > tbody > tr.hover {
    background: #fff6df;
}

table.treeGrid > tbody > tr.descHover {
    background: #fffaf2;
}

table.treeGrid > tbody > tr.firstAltLevel > td {
    border-top: solid 1px #c6c6c6 !important;
}

table.treeGrid > tbody > tr.firstAltLevel:first-child > td {
    border-top: solid 1px #c0c0c0;
}

.crDetailsGrid > tbody > tr > td {
    border: none !important;
}

.crDetailsGrid > tbody > tr > td.DONE {
	color: #60b31d;
}

/*
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .toReview,
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .toClose,
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .totalToDo {
*/
.crDetailsGrid > tbody > tr > td.TO_REVIEW,
.crDetailsGrid > tbody > tr > td.ACCEPTED {
    color: #dcab00;
}

.crDetailsGrid > tbody > tr > td.TO_FIX {
    color: #e74837;
}

.crDetailsGrid > tbody > tr > td.MERGED {
    color: #b2b2b2;
}

.crDetailsGrid > tbody > tr > td > .actors {
    color: black;
}

.crDetailsGrid > tbody > tr > td.element > div {
/*
     border-top: solid 1px #c9c9c9;
*/
/**/
    background-image: url("../images/common/beak.gif");
    background-repeat: no-repeat;
    background-position: top center;
/**/
     /*background: #f4f4f4;*/
     /*color: #e6e6e6;*/
     /*color: #3d5068;*/
     color: #a5a5a5;
}

.crDetailsGrid > tbody > tr > td.firstElem > div {
    border-top: solid 1px #d6d6d6;
    background-image: none;
}

.crDetailsGrid > tbody > tr > td.element > div .what,
.crDetailsGrid > tbody > tr > td.element > div .who {
	color: black;
}

/*
.crDetailsGrid > tbody > tr.hover > td.element > div {
	border-top: solid 1px #fff6df;
    background: #fff6df;
}
.crDetailsGrid > tbody > tr.descHover > td.element > div {
	border-top: solid 1px #fff6df;
	background: #fffaf2;
}
*/

.crDetailsGrid > tbody > tr > td.element > div > span {
     /*color: #3d5068;*/
}

.crDetailsGrid > tbody > tr > td.element > p > em {
     color: #b2b2b2;
}

.crDetailsGrid > tbody > tr > td.outsideRange > div,
.crDetailsGrid > tbody > tr > td.outsideRange > div .what,
.crDetailsGrid > tbody > tr > td.outsideRange > div .who,
.crDetailsGrid > tbody > tr > td.outsideRange > p,
.crDetailsGrid > tbody > tr > td.outsideRange > p > em {
	color: #d5d5d5;
}

/*
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .toReview,
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .toClose,
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .totalToDo {
    color: #dcab00;
}

.crDetailsGrid > tbody > tr > td > .crStatusInfo > .toFix {
    color: #e74837;
}

.crDetailsGrid > tbody > tr > td > .crStatusInfo > .done {
    color: #60b31d;
}

.crDetailsGrid > tbody > tr > td > .crStatusInfo > .weak {
	color: #b2b2b2;
}
*/

.crStatusInfo > .toReview,
.crStatusInfo > .toClose,
.crStatusInfo > .totalToDo {
    color: #dcab00;
}

.crStatusInfo > .toFix {
    color: #e74837;
}

.crStatusInfo > .done {
    color: #60b31d;
}

.crStatusInfo > .weak {
    color: #b2b2b2;
}

.crDetailsGrid > tbody > tr > td > .crStatistics {
    color: #a5a5a5;
}

ul.crDetailsSummary > li > label > .toReview {
    color: #dcab00;
}

ul.crDetailsSummary > li > label > .toFix {
    color: #e74837;
}

ul.crDetailsSummary > li > label > .done {
    color: #60b31d;
}

ul.crDetailsSummary > li > label > .weak {
    color: #b2b2b2;
}

/*
#testTree td.not-tested {
    background-color: transparent; 
    opacity: 1;
    filter:alpha(opacity=100);
}
*/

.conflictImportGrid > thead > tr > th.errorMarker {
    background-color: #ffffff;
    border:none;
}

.conflictImportGrid > tbody > tr > td.errorMarker {
    background-color: #ffffff;
    border:none;
}

.section .secBody {
    background: #ffffff;
}

#importForm .secBody .importComparePanel {
    border-bottom: 1px solid silver;
}

hr.separator {
    border:none;
    border-top: 1px solid #c9c9c9;
    line-height: 0;
}

.widget {
    background: white;
    border: solid 1px #8db3d4;    
}

.widget-def {
    background:none repeat scroll 0 0 #DCE8F4;
    border-bottom: solid 1px #8db3d4;
}

.widget-header {
    background:url("/grs/images/common/tags-toolbar-bgr.gif") repeat-x scroll left bottom #3A6393;
}

#container h2.subTitle,
.report h2.subTitle {
    color: #3d5068;
}

#container h2.withToolTip,
.report h2.withToolTip {
    background-image: url('/grs/images/planning/icons/qm.gif'); 
    background-repeat : no-repeat;
    background-position: right top;
}

.report .limitReachedMessage {
	color: #dcab00;
}

table.tasksActivityDetails caption {
    color: #3d5068;
}

td.pcProjectPanel,
td.pcProjectPanel > .projectPanel {
    background: white;
    border: none;
}

td.pcProjectPanel {
    border-bottom: solid 1px #bed0e3;
}

td.pcProjectPanel table.dateRange > tbody > tr > td.selItem {
    background: #dee7f1 !important;
    border: solid 1px #bed0e3;
}

td.pcProjectPanel table.dateRange > tbody > tr > td.sep {
    color: #bed0e3;
}

td.pcProjectPanel table.dateRange > tbody > tr > td.label {
    color: black !important;
}

.white {
	background: white !important;
}

.dropDownMenu {
	background: transparent;
}

.dropDownMenu > div {
    background: white;	 
}

.dropDownMenu > a {
	border: 1px solid transparent;
}

.dropDownMenu > a.arrow span {
    background: url("../images/common/arrow-off.gif") no-repeat right center;    
}

.dropDownMenu > a.arrow:hover span {
    background: url("../images/common/arrow-on.gif") no-repeat right center;
}

.dropDownMenu > a.active {
	background: white;
}

.dropDownMenu > a.active span {
    background: url("../images/common/arrow-on.gif") no-repeat right center white;
}

.dropDownMenu ul {
    background: white;
}

.dropDownMenu > a.active {
    border-bottom: 1px solid white !important;
    border-top: 1px solid #8db3d4;
    border-right: 1px solid #8db3d4;
    border-left: 1px solid #8db3d4;
}

.dropDownMenu ul {
    border: 1px solid #8db3d4; 
}

.welcome #content {
    background-image: url("../images/welcome/bg15.jpg");
}

.welcome #content .contentFrame {
    background-color: #bbe1f4;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.welcome #content .contentFrame > div {
    background-color: #bbe1f4;
}

.welcome #content .contentFrameContent  {
    background-color: #bbe1f4;
}

.welcome #content .forms .logo {
    /**/
    background: transparent url("../images/welcome/logo.gif") no-repeat left top;
    /**/
    /*background: transparent url("../images/welcome/loader-1.gif") no-repeat left top;*/
}

.welcome #content .single .forms .logo {
    background: none;
}

.welcome #content .ad p {
    color: #e17900;
}

.welcome #content .ad div {
    background: transparent url("../images/welcome/movie.png") no-repeat left top;
}


.welcome #content .row .input input[type=text],
.welcome #content .row .input input[type=password] {
    border: solid 1px #b4b4b4;
}

.welcome #content .row .input input.error {
    border: solid 1px #e74837;
}

.welcome #content .required {
    color: #e74837;
}

.welcome #content #validationMsg {
    color: #e74837;
}

.welcome #content .validationMsg {
    color: #e74837;
}

.welcome #content .tabs .tabcontent a,
.welcome #content .contentFrameContent a {
    color: #0c60b6 !important;
    margin-left: 4px;
}

.welcome #content .tabs .tabcontent a:hover,
.welcome #content .contentFrameContent a:hover {
    color: orange !important
}

.welcome #content .contentFrameContent a.button,
.welcome #content .contentFrameContent a.button:hover {
    color: black !important;
}

.welcome #content .ui-widget-content {
    background-color: transparent !important;
}

.welcome #content .tabs .tabcontent {
    background-color: white !important;
    border-color:  #afc3d4;
}

.welcome #content .message {
    color: #000000;
    height: 14px;
}

.welcome #content .message .instruction {
	font-size: 12px;
	margin-left: 4px;
	width: 320px;
	height: 60px;
}

.welcome #content .message .problem > label {
	font-size: 14px;
	margin-left: 4px;
	font-weight: bold;
	min-height: 20px;
}

.welcome #content .message .error {
    color: #980127;
    margin-left: 4px;
}

.welcome #content .message .success {
    color: #60b31d;
}

.welcome #content .ui-tabs .ui-tabs-nav {
    border-bottom-color: #afc3d4;
}

.welcome #content .ui-tabs .ui-tabs-nav li {
    border-color:  #afc3d4;
    background: transparent url("../images/welcome/bg-tab.gif") repeat-x left top;
}

.welcome #content .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    background: white;
}

.welcome #content .tabs .regtab > a {
    background: transparent url("../images/welcome/add.gif") no-repeat 10px 8px;
}

.welcome #content .tabs .logintab > a {
    background: transparent url("../images/welcome/logIn.gif") no-repeat 10px 8px;
}

.welcome #content .tabs .ui-tabs-nav > li > a {
    color: #3d5068 !important;
}

.welcome #content .contentFrameContent > label  {
    color: #3d5068;
}

.welcome #content .singleLogin > label  {
    background: transparent url("../images/welcome/Parasoft-logo.png") no-repeat 60px 2px;
}

.welcome #content .forgotContent > label  {
    background: transparent url("../images/welcome/Parasoft-logo.png") no-repeat 60px 2px;
}

.welcome #content .confirmRegistrationContent > label  {
    background: transparent url("../images/welcome/check.gif") no-repeat 20px center;
}

.welcome #content .confirmInvitationContent > label  {
    background: transparent url("../images/welcome/check.gif") no-repeat 20px center;
}

.welcome #content .confirmRegistrationContent .progress,
.welcome #content .confirmInvitationContent .progress {
    background: transparent url("../images/welcome/loader-4.gif") no-repeat center center;
}

.welcome .preload .progress {
	background: transparent url("../images/welcome/loader-4.gif") no-repeat top left;
}

.welcome .preload .ad {
    background: transparent url("../images/welcome/movie.png") no-repeat left top;
}

#wizardContent .step2Content .step2ContentLeft {
    /*border-right: 1px dashed lightgrey;*/
}

.selectMember {
	border: 1px solid transparent;
}

.sideNote {
    color: #8E8F92;   
}

div.section > div {
    background: #EFEFEF;
}

div.section:first-child,
div.sectionNoBorder {
	border-top: 1px solid transparent !important;
}

div.section > label.tooltip {
    background-image: url('/grs/images/planning/icons/qm.gif'); 
    background-repeat : no-repeat;
    background-position: right top;
}

img.smalltooltip {
    vertical-align: text-top;
}

div.section > label {
    color:#3D5068;
}

div.section {
    background-position: 10px 8px;
    background-repeat: no-repeat;
}

div.man-test-section-new {  
    background-image: url('/grs/images/planning/icons/large/man-test.gif'); 
}

div.e-sig-section-new {
    background-image: url("/grs/resources/default/4_7/css/images/planning/icons/e-sign.gif");
}

div.general-section-new {  
    background-image: url('/grs/images/planning/icons/large/general.gif'); 
}

div.book-section-new {
    background-image: url('/grs/images/planning/icons/book.gif');
}

div.effort-section-new {
    background-image: url('/grs/images/planning/icons/effort.gif');
}

div.relationship-section-new {
    background-image: url('/grs/images/planning/icons/relationship_1.gif');
}

div.detail-section-new {
    background-image: url('/grs/images/planning/icons/detail_2.gif');
}

div.workflow-section-new {
    background-image: url('/grs/images/planning/icons/workflow.gif');
}

div.attachment-section-new {   
    background-image: url('/grs/images/planning/icons/large/attachment.gif'); 
}

div.comment-section-new {  
    background-image: url('/grs/images/planning/icons/large/comments.gif');    
}

div.activity-section-new { 
    background-image: url('/grs/images/planning/icons/large/activity.gif');    
}

div.worktime-section-new {  
    background-image: url('/grs/images/planning/icons/large/worktime.gif'); 
}

div.history-section-new { 
    background-image: url('/grs/images/planning/icons/large/activity.gif'); 
}

div.modification-history-section-new {
    background-image: url('/grs/images/planning/icons/large/history.gif');
}

.jqTabs > ul a, .jqAbsTabs ul a, .jqTabs ul a div, .jqAbsTabs ul a div {
    color: black !important;
}

.filterColumn {
    background: #f7f7f7;
}

.fpNameColumn {
    border-right: none;
}

.fpNameColumn,
.fpValueColumn {
    border-bottom: none;
}

.fpValueColumn {
    border-left: none;
}

ul.summary > li > label {
    color: #3d5068;
}

.openInBts {
    background: url("/grs/images/planning/icons/open-in-bts.gif") no-repeat scroll right center transparent;
}

table.mceLayout, .mceToolbar, .mceStatusbar {
	background: #edf1f8 !important;
}

.mceLayout .mceToolbar tr, .mceLayout .mceToolbar tr td, .mceLayout .mceToolbar tr td a.mceButton {
	background: #edf1f8;
}

.mceSplitButton a.mceAction,
.mceSplitButton a.mceOpen {
	border: 1px solid #CCCCCC !important;
}

.defaultSkin table.mceSplitButtonEnabled:hover a.mceAction, 
.defaultSkin .mceSplitButtonHover a.mceAction, 
.defaultSkin .mceSplitButtonSelected a.mceAction {
	border:1px solid #A2ABC0 !important;
	background-color:#FFF !important;
	border-right: 1px solid transparent !important;
}

.defaultSkin table.mceSplitButtonEnabled:hover a.mceOpen, 
.defaultSkin .mceSplitButtonHover a.mceOpen, 
.defaultSkin .mceSplitButtonSelected a.mceOpen {
	background-color:#FFF !important; 
	border:1px solid #A2ABC0 !important;
}

.mceSplitButton a.mceAction {
	border-right: 1px solid transparent !important;
	background: white;
}

.mceLayout .mceToolbar tr td a.mceButton:hover, .mceLayout .mceToolbar tr td a.mceButtonActive {
	background: #b9d5f1;
	border: 1px solid #8db3d4 !important;
}

.mceLayout .mceToolbar tr td a.mceButton {
	border: 1px solid transparent;
}

.mceLayout .mceToolbar .mceSeparator, 
.mceToolbar .mceToolbarEnd span,
.mceToolbar .mceToolbarStart span {
	background: #edf1f8 !important;
}

.mceIframeContainer, table.mceLayout > tbody > tr.mceFirst td.mceToolbar {
	border: 1px solid #8db3d4 !important;	
}

table.mceLayout > tbody > tr.mceFirst td.mceToolbar {
	border-bottom: 0px solid transparent !important;
}

.mceIframeContainer {
	border-top: 0px solid transparent !important;
}

.iteration-critical-chain {
    background-image: url('/grs/images/planning/icons/critical-chain.gif'); 
    background-repeat : no-repeat;
    background-position: right center;
}

input[disabled=disabled],
select[disabled=disabled],
textarea[disabled=disabled],
input:disabled,
select:disabled,
textarea:disabled {
    background: lightgray !important;
}

.widgetBox .title
{
    border-bottom: 1px solid gray;
}

.widgetBox .bad-up
{
    background-image: url('/grs/dashboard/css/images/arrow_up_red.gif');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.widgetBox .bad-down
{
    background-image: url('/grs/dashboard/css/images/arrow_down_red.gif');
    background-repeat: no-repeat;
    background-position-y: bottom ;
}

.widgetBox .good-up
{
    background-image: url('/grs/dashboard/css/images/arrow_up_green.gif');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.widgetBox .good-down
{
    background-image: url('/grs/dashboard/css/images/arrow_down_green.gif');
    background-repeat: no-repeat;
    background-position-y: bottom ;
}

.widgetBox .trendBox .noChange {
	color: #808080;
}

.widgetBox .trendDetails
{
    color: #b9b9b9;  
}

.widgetBox .count > span
{
    color: #191919;
}

.widgetBox .count > span > a:link, 
.widgetBox .count > span > a:visited, 
.widgetBox .count > span > a:active, 
.widgetBox .count > span > a:hover {
	color:#191919;
}

.reportGrid > table.grid {
	color: #808080;
}

.reportGrid > table.grid > thead > tr,
.reportGrid > table.grid > thead > tr > th {
	color: #808080;
	background-color: white; 
	border: none;
}

.reportGrid > table.grid.noBorder > tbody > tr > td,
.reportGrid > table.grid.noBorder > tfoot > tr > td {
    border: none;
}

.reportGrid > table.grid.noBorder > thead > tr {
    border-bottom: 1px solid #e4e4e4;
    background-color: white !important;
}

.reportGrid > table.grid.noBorder > tfoot > tr {
	border-top: 1px solid #e4e4e4;
}

.reportGrid > table.grid > tbody > tr > td {
	border: 1px solid #e4e4e4;
	color: #5a5a5a;
}

.reportGrid > table.grid > tbody > tr.even {
    background-color: white;
}

.reportGrid > table.grid > tbody > tr.odd {
    background-color: #f2f2f2;
}

.reportGrid > table.sparklines {
	color: #808080;
}
.reportGrid > table.sparklines th {
    border-bottom: 1px solid #bfbfbf;
}


.filtersList {
	border-color: white !important;
}

.filterRow.alt {
	background: #f4f4f4;
}

.filtersList .filterRow:hover {
    background: #fff6df !important; 
}

.filtersList .filterRow.show {
	background: #fff6df;
}

.filtersList .filterRow .duplicateLink {
	cursor: pointer;
	color: #0c60b6;
	text-decoration: underline;
}

.filtersList .filterRow .duplicateLink:hover {
	color: orange ;
	text-decoration: none;
}

span.fileSprite { 
    background-image: url("../images/filters/file.gif");
}
                        
span.folderSprite, span.moduleSprite { 
    background-image: url("../images/filters/folder.gif");
}

span.methodSprite {
    background-image: url("../images/filters/method.png");
}

.fa .faMarker div.faNormal {
    background: transparent url("../images/fa/path_normal.gif") no-repeat center center; 
}

.editorWrapper .ace_editor .ace_gutter-cell.ace_error {
    background-image: url("../images/fa/marker.gif");
    background-repeat: no-repeat;
    background-position: 2px center;	
}

.loader {
    background: white url('/grs/dashboard/css/images/ajax-loader.gif') no-repeat center center;	
}

.violations .bottom-pane .horizontal .editorFileName,
.violationDetails h2 {
    background: #f0f0f0;    
}

.editorWrapper .ace_editor .ace_marker-layer .ace_active-line,
.editorWrapper .ace_editor .ace_gutter-active-line {
	background-color: rgb(181, 213, 255);
}

pre#editor_error {
    display:block;
    padding-top:25px;
    padding-left:40px;
}

pre#editor_error span.error {
	color: #ff0000;
	text-transform: uppercase;
	font-weight:bold; 
}

pre#editor_error pre#editor {
	display:none;
}

.moreInfo {
	color: #000 !important;
	text-decoration: none;
}

.arrow-left {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 3px 0 3px 4.7px;
	border-color: transparent transparent transparent #000000;
	margin: 9px 0 0 20px;
	padding-left: 6px;
}

.arrow-bottom {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 4.7px 3px 0 3px;
	border-color: #000000 transparent transparent transparent;
	margin: 9px 4px 0 20px;
}

.filtersList .filterRow .name {
	text-decoration: none;
}

.filtersList .filterRow .name:hover {
	text-decoration: underline !important;
}

tr a:link, tr a:visited, tr a:active  {
	font-weight: normal;
	color: #5a85a6;
}

tr a:link:hover  {
	text-decoration: underline;
	font-weight: normal;
}

/**timeline**/

.timeLine tr td.violFail {
	background: transparent url("../images/timeline/r.png") no-repeat left center;
}

.timeLine tr td.violFail.newViolFail {
    background: transparent url("../images/timeline/e-r-r.png") no-repeat left center;
} 

.timeLine tr td.violFail.newViolFailFromFail {
	background: transparent url("../images/timeline/r-r-r.png") no-repeat left center;
}

.timeLine tr td.violFail.newViolFailFromPass {
	background: transparent url("../images/timeline/g-r-r.png") no-repeat left center;
}

.timeLine tr td.violFail.newViolFailFromSuppress {
	/*background: transparent url("../images/timeline/g-r-r.png") no-repeat left center;*/
	/*Comment line above and uncomment below when support for suppressions implemented*/
	background: transparent url("../images/timeline/s-r-r.png") no-repeat left center;
}

.timeLine tr td.violPass {
    background: transparent url("../images/timeline/g.png") no-repeat left center;
}

.timeLine tr td.violPass.newViolPassFromPass {
    background: transparent url("../images/timeline/g-g-g.png") no-repeat left center;
}

.timeLine tr td.violPass.newViolPass {
    background: transparent url("../images/timeline/e-g-g.png") no-repeat left center;
}

.timeLine tr td.violPass.newViolPassFromSuppress {
	/*background: transparent url("../images/timeline/g-g-g.png") no-repeat left center;*/
	/*Comment line above and uncomment below when support for suppressions implemented*/
	background: transparent url("../images/timeline/s-g-g.png") no-repeat left center;
}

.timeLine tr td.violPass.newViolPassFromFail {
    background: transparent url("../images/timeline/r-g-g.png") no-repeat left center;
}

.timeLine tr td.violSuppress {
	/*background: transparent url("../images/timeline/g.png") no-repeat left center;*/
	/*Comment line above and uncomment below when support for suppressions implemented*/
	background: transparent url("../images/timeline/s.png") no-repeat left center;
}

.timeLine tr td.violSuppress.newViolSuppressFromSuppress {
	/*background: transparent url("../images/timeline/g-g-g.png") no-repeat left center;*/
	/*Comment line above and uncomment below when support for suppressions implemented*/
	background: transparent url("../images/timeline/s-s-s.png") no-repeat left center;
}

.timeLine tr td.violSuppress.newViolSuppressFromPass {
	/*background: transparent url("../images/timeline/g-g-g.png") no-repeat left center;*/
	/*Comment line above and uncomment below when support for suppressions implemented*/
	background: transparent url("../images/timeline/g-s-s.png") no-repeat left center;
}

.timeLine tr td.violSuppress.newViolSuppressFromFail {
	/*background: transparent url("../images/timeline/r-g-g.png") no-repeat left center;*/
	/*Comment line above and uncomment below when support for suppressions implemented*/
	background: transparent url("../images/timeline/r-s-s.png") no-repeat left center;
}

.timeLine.timeLineBranch tbody tr.current td.branch {
    font-weight: bold;
}

table.timeLine.grid > tbody > tr:hover {
	background: white !important;
}

/**timeline end**/

#report table.grid a:hover {
	font-weight: normal;
}

div.ace_content div.ace_layer div.ace_selection {
	 background: #d9e7f1;
}

.gridFrame {
    background: #f2f2f2;
}

#contentLoading {
    background: url("/grs/dashboard/css/images/AjaxLoader.gif") no-repeat scroll center center #ffffff;
}

img.ruleDocIcon
{
    opacity:0.25;
    filter:alpha(opacity=25); /* For IE8 and earlier */
    width:11px;
    height:11px;
}

img.ruleDocIcon:hover
{
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    width:11px;
    height:11px;
}

.licLimNotification.error {
    background: #ffe3da;
    color: #cb2210;
}

.licLimNotification.warning {
    background: #fdefc6;
}

.licLimNotification a {
    background-image: url('../images/common/close.png');	
}

.req_task_row {
	font-weight:bold;
	color: #303030;
}