html,body,form,select,textarea,input,td,label,div,span {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
}

b, strong, .bold {
	font-weight: bold;
}

#pageTitle h1,.qsearch h2>a {
	font-size: 12px;
	font-weight: bold;
}

.qsearch h2>a {
	font-weight: normal !important;
}

h1 {
	font-size: 14px;
	font-weight: bold;
}

h2 {
	font-size: 12px;
	font-weight: bold;
}

#status {
	font-weight: normal;
}

#header #applications #appsMenu a {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

#header #headerContent .links a,
.dropDownMenu li a {
	text-transform: lowercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}

.dropDownMenu li.noTextDecoration a {
	text-transform: none !important;
}

.dropDownMenu li a {
	font-weight: normal !important;
}

#header #headerContent .links a:hover,
.dropDownMenu li a:hover {
	text-decoration: underline !important;
}

.dropDown .toolbar>ul li,.dropDown .toolbar>ul li a {
	text-decoration: none !important;
	font-weight: bold;
}

.savedSearches .list>ul>li>span,#my_tasks div.label {
	font-size: 12px;
	font-weight: bold;
}

.savedSearches .list>ul>li>ul>li>a,#my_tasks div.task>div.id>a,#my_tasks div.button .switch a
	{
	font-weight: bold !important;
	text-decoration: none !important;
}

/* tags */
.tags .cloud a {
	text-decoration: none;
}

.tags .cloud .tag-small {
	font-size: 11px;
}

.tags .cloud .tag-medium {
	font-size: 14px;
}

.tags .cloud .tag-large {
	font-size: 18px;
}

.tags .cloud .tag-xlarge {
	font-size: 22px;
}
/* ~tags */
#my_tasks div.button {
	font-size: 11px !important;
	font-weight: normal !important;
}

#my_tasks div.button a {
	font-size: 11px !important;
	font-weight: normal !important;
	text-decoration: none !important;
}

#my_tasks div.button ul li>a.bold {
	font-weight: bold !important;
}

.table-container .toolbar .count,.qsearch-criteria .count {
	font-weight: bold;
}

.details>div>label {
	font-weight: bold;
}

.details>div>span>span {
	font-weight: bold;
}

.details>div>span>span label {
	font-weight: normal;
}

.table-container .table-filter .commands label {
	font-weight: bold;
}

.details>div>span>span em {
	font-weight: normal;
}

.iterationDelayStatus {
	font-weight: bold;
	font-size: 14px;
}

.plan-iter-header .iterName,.plan-iter-header .iterName>a {
	font-family: Arial, sans-serif !important;
	font-size: 12px !important;
	font-weight: bold;
}

div.panel-header {
	font-weight: bold;
}

.rich-datascr .rich-dtascroller-table .rich-datascr-act {
	font-weight: bold !important;
	font-size: 12px;
}

.rich-datascr .rich-dtascroller-table .rich-datascr-inact {
	color: black !important;
}

.editEntity>.activity .sec>h3 {
	font-size: 12px;
	font-weight: bold;
}

.editEntity>.activity .sec h4 {
    font-size: 11px;
    font-weight: bold;
}

ul.comments>li>div>span,.commentsSec .taskDesc>span {
	font-style: italic;
	font-weight: bold;
	text-transform: lowercase;
}

ul.comments>li>div>span.number,.commentsSec .taskDesc>span {
	text-transform: none;
	text-decoration: none;
}

.editEntity>.activity>.infoSec>.taskTypeInfo,.editEntity>.activity>.infoSec>.desc-summary
	{
	font-weight: bold;
}

.editEntity>.activity>.workTimeSec>a {
	font-weight: bold;
}

#page #commands .iconLink {
	text-decoration: none;
	font-weight: bold;
}

.qsearch .match {
	font-weight: bold;
	font-size: 12px;
}

.qsearch-criteria>input {
	font-weight: bold;
	font-size: 13px;
}

.projectToolSettings .hint>a {
	font-weight: normal !important;
}

h1.reqStatusHeader {
	font-size: large;
	font-weight: bold;
}

.projectCombo{
	font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:11px; 
/*     font-weight:bold; */
}

.comboDouble{
	font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:8pt; 
    font-weight:bold;
}

.importNote {
}

.importExample {
	font-size: 10px;
}

.pInline{
}

.pInlineMonospace{
	font-family: monospace;
}

.infoMessage {
    font-weight: bold;
    font-style: italic;
}

/*----------------------------------------------
  grid
----------------------------------------------*/
table.grid > tbody > tr a,
table.grid > tfoot > tr a {
    text-decoration: underline;
}

.scrollableDataGrid > tbody table.grid > tbody > tr > td a,
.scrollableDataGrid table.grid > thead > tr > th a,
.scrollableDataGrid > tbody table.grid > tbody > tr > td a:hover,
.scrollableDataGrid table.grid > thead > tr > th a:hover {
	text-decoration: underline !important;
    font-weight: bold;
}

table.grid > tbody > tr > td.headerCol {
    font-weight: bold;	
}

table.grid > thead > tr > th,
table.grid > tfoot > tr > td,
table.grid > tbody > tr > td {
    font-size: 11px !important;
    line-height: 16px; 
}

table.grid > thead > tr > th,
table.grid > tfoot > tr > td,
/*.scrTable .scrTableHeader table.grid > tbody > tr > td {*/
.scrollableDataGrid > thead table.grid > tbody > tr > td,
.scrollableDataGrid table.grid > thead > tr > th {
    font-weight: bold;
}

/*
.scrTable .scrTableHeader table.grid > tbody > tr > td > div {
.scrollableDataGrid > thead table.grid > tbody > tr > td > div {
	line-height: normal;
}
*/

table.grid > tfoot > tr > td.strong,
table.grid > tbody > tr > td.strong {
    font-weight: bold;
}

/* Demo */
table.grid > tbody > tr > td.statusOpen {
    font-weight: bold;
}

table.grid > tbody > tr > td.statusInProgress {
	font-weight: bold;
}

table.grid > tbody > tr > td.statusCompleted {
    font-weight: bold;
    text-decoration: line-through;
}

table.grid > tbody > tr > td.statusCancelled {
    font-weight: bold;
    text-decoration: line-through;
}

table.grid > tbody > tr > td.testsNotRequired,
table.grid > tbody > tr > td.testsNotTested,
table.grid > tbody > tr > td.testsPassed,
table.grid > tbody > tr > td.testsFailed,
table.grid > tbody > tr > td.testsNotRun,
table.grid > tbody > tr > td.testsIncompleted,
table.grid > tbody > tr > td.testsInProgress,
table.grid > tbody > tr > td.statusUnresolved,
table.grid > tbody > tr > td.statusNotTested,
table.grid > tbody > tr > td.statusFixed,
table.grid > tbody > tr > td.statusTestFailed {
    font-weight: bold;
}

table.grid > tbody > tr.inplaceEdit > td {
    text-decoration: none !important;
}

/*table.grid > tbody > tr > td.relationClosed span,*/
table.grid > tbody > tr > td.relationClosed a,
.scrollableDataGrid > tbody table.grid > tbody > tr > td.relationClosed a,
.scrollableDataGrid table.grid > thead > tr > th.relationClosed a {
    text-decoration: line-through underline !important;
}
/* ~Demo */

.crDetailsGrid > tbody > tr > td.element > div > div.what {
    font-weight: bold;
}

.crDetailsGrid > tbody > tr > td.element > p {
    white-space: pre-line;
    /*font-style: italic;*/
/**/
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
/**/
}

.crDetailsGrid > tbody > tr > td.element > div span {
     /*font-weight: bold;*/
}

.crDetailsGrid > tbody > tr > td.element > p > em {
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
     font-style: italic;
}

ul.crDetailsSummary > li > label > span {
	font-weight: bold;
}

/*
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .totalToDo,
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .toReview,
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .toClose,
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .toFix,
.crDetailsGrid > tbody > tr > td > .crStatusInfo > .done {
    font-weight: bold;
}
*/
.crStatusInfo > .totalToDo,
.crStatusInfo > .toReview,
.crStatusInfo > .toClose,
.crStatusInfo > .toFix,
.crStatusInfo > .done {
    font-weight: bold;
}

.crDetailsGrid > tbody > tr > td > .crStatistics {
    font-style: italic;
}

.crDetailsGrid > tbody > tr > td.thread {
    font-weight: bold;
}

.crDetailsGrid > tbody > tr > td.thread > .actors {
    font-weight: normal;
}

/*
.crDetailsGrid > tbody > tr > td.thread .actors > span.OWNER {
    font-weight: bold;
}
*/

/*
.report .limitReachedMessage {
    font-weight: bold;
}
*/

#importReqsForm .actionPanel > span {
    font-weight: bold;
}

.wrapped {
    white-space:pre-wrap;
}

.toolbar a.toolbarButton {
    text-decoration: none;
    font-weight: bold;
}

a.toolbarLink {
    font-weight: bold;
    text-decoration: none;
}

.widget-header {    
    color: white !important;
    font-weight: bold !important;    
}

.widget-header-label, .widget-header-action {
    font-family:Arial,sans-serif !important;
}

.widget-header-action > a,
.widget-header-action > a:active, 
.widget-header-action > a:link, 
.widget-header-action > a:visited {
    color: white !important; 
    text-decoration: none;     
    font-size: 15px !important;
}

table.tasksActivityDetails caption {
    font-size: 12px;
    font-weight: bold;
}

td.pcProjectPanel table.dateRange > tbody > tr > td {
    font-family: Arial, Verdana, sans-serif !important;
    font-size: 11px !important;
}

td.pcProjectPanel table.dateRange > tbody > tr > td.label {
    font-weight: bold;
}

.welcome #content .ad p {
    font-family: 'Ubuntu', 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 21px;
}

.welcome #content .tabs .ui-tabs-nav > li > a {
    font-size: 12px;
}

.welcome #content .contentFrameContent > label  {
    font-size: 12px;
    font-weight: bold;
}

.welcome #content .required {
    font-size: 14px; 
}

.sideNote {
    font-family: Arial, Verdana, sans-serif !important;
    font-size: 11px !important;
}

div.section > label {
    font-size:12px;
    font-weight:bold;
}


.jqTabs > ul a, .jqAbsTabs ul a, .jqTabs ul a div, .jqAbsTabs ul a div {
    font-size: 11px !important;
}

.filterName {
    font-size: 10pt;
}

.fpColumn,
.filterName,
.fpNameColumn, 
.fpValueColumn,
.fpButtonsColumn {
    font-weight: bold;
}

.zombieTeam {
    text-decoration: line-through;	
}

.iteration-critical-chain {
	font-weight: bold! important;
	text-decoration: underline! important;
}

.row > .input > div.info { 
    color: #c9c9c9;
    size: 8px;
    line-height: 12px;
}

.reportGrid > table.grid {
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.reportGrid > table.grid > thead > tr,
.reportGrid > table.grid > thead > tr > th {
	font-weight: normal;
    font-size: 11pt !important;
}

.reportGrid > table.grid > tbody > tr > td {
    font-size: 12pt !important;
}
.reportGrid > table.grid > tbody > tr:hover {
	background: #D1E1ED !important;
}

.reportGrid > table.grid a {
	color: #5a85a6;
	text-decoration: none;
}

.reportGrid > table.grid a:hover {
	text-decoration: underline;
}

.widgetBox .title
{
    font-size: 12pt;
}

.widgetBox .trendDetails
{
    font-size: 10px; 
}

.widgetBox .trendChange > span 
{
    font-size: 14px;
}

.widgetBox .count > span
{
    font-size: 46px; 
}

.widgetBox .count > span > a:link, 
.widgetBox .count > span > a:visited, 
.widgetBox .count > span > a:active, 
.widgetBox .count > span > a:hover {
    text-decoration: none;
    font-weight: normal;
}

.reportGrid > table.grid > thead > tr,
.reportGrid > table.grid > thead > tr > th {
    font-size: 11px !important;
}

.reportGrid > table.grid > tbody > tr > td {
    font-size: 12px !important;
}

.reportGrid > table.sparklines th {
    font-size: 11px !important;
    font-weight: normal;
}

ul.dtpRepParams > li > span {
	font-weight: bold; 
}

/** fix for overriden font for ace editor **/
.editorWrapper .ace_editor,
.editorWrapper .ace_editor * {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    line-height: normal;
    color: black;
}

.widgetNoDataMessage {
	font-size: 11px;
	color: #2E2E2E;
}

.licLimNotification.error {
    font-weight:bold;
}