.error-page {	
	background-image: url('/grs/images/planning/status/errorpage.jpg');
	background-repeat :	no-repeat;
	background-position: left center;
	width: 627px;
	height: 341px;
	margin: 200px;
	vertical-align: middle;
}
	
body {
    background-color: #D7D2CC;  
    height: 100%;
}

table.error-message {
	/*margin-top: 100px;*/
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 50px;
	width: 500px;
}


.label {
	font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: #285172;
    padding-right: 4px;
    margin: 0px;	
    text-decoration: underline;
}

td.label {
	font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: #F86E3F;
    text-align: right;
    padding-right: 4px;
    font-weight: bold;
    margin: 0px;
}

td.label-details {
	font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: #F86E3F;
    text-align: right;
    padding-right: 4px;
    font-weight: bold;
    margin: 0px;
    font-style: italic;
}

a {
	color: #FCA37B;
}
	

td.copyrights {
	font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    text-align: left;
    padding-left: 20px;
    vertical-align: bottom;
    padding-bottom: 10px;    
}

td.tech-support {
	font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    text-align: right;
    padding-right: 20px;
    vertical-align: bottom;
    padding-bottom: 10px;    
}