#head-menu {
	background-color: transparent;
	width: 100%;
	vertical-align: top;
	height: 20px;
}

#head-menu ul {
	padding: 0px;
	margin: 0px;
	WIDTH: 100px;
	list-style: none;	
}		

#head-menu ul li.root {
	float: left;
	width: 100%;
	padding-left: 30px;
	background-image: url('/licenseserver/images/head/arrow.jpg');
	background-position: right center;
	background-repeat: no-repeat;
	height: 40px;
}

#head-menu a {
	margin-right: 0px;	
	display: block;	
	width: 100%;
	font: bold 11px arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	white-space: nowrap;
	text-align: center;
	color: white;
}

#head-menu ul li ul li.pm a {
	background-image: url('/licenseserver/images/head/tools/pm.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;	
	width: 162px;	
}	

#head-menu ul li ul li.pm a:hover {
	background-image: url('/licenseserver/images/head/tools/pm-on.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;	
	width: 162px; 
}

#head-menu ul li ul li.tcm a {
	background-image: url('/licenseserver/images/head/tools/ts.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;	
	width: 162px; 
}

#head-menu ul li ul li.tcm a:hover {
	background-image: url('/licenseserver/images/head/tools/ts-on.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;	
	width: 162px; 
}

#head-menu ul li ul li.grs a {
	background-image: url('/licenseserver/images/head/tools/rc.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;	
	width: 162px; 
}

#head-menu ul li ul li.grs a:hover {
	background-image: url('/licenseserver/images/head/tools/rc-on.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;	
	width: 162px; 
}

#head-menu ul li ul li.pstsec a {
	background-image: url('/licenseserver/images/head/tools/user.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;	
	width: 162px; 
}

#head-menu ul li ul li.pstsec a:hover {
	background-image: url('/licenseserver/images/head/tools/user-on.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;	
	width: 162px; 
}

#head-menu ul li ul li.eqr a {
    background-image: url('/licenseserver/images/head/tools/eqr.gif');
    background-repeat: no-repeat;
    background-position: left center;
    height: 23px;   
    width: 162px; 
}

#head-menu ul li ul li.eqr a:hover {
    background-image: url('/licenseserver/images/head/tools/eqr-on.gif');
    background-repeat: no-repeat;
    background-position: left center;
    height: 23px;   
    width: 162px; 
}

#head-menu ul li ul li.ls a {
	background-image: url('/licenseserver/images/head/tools/ls.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;	
	width: 162px; 
}

#head-menu ul li ul li.ls a:hover {
	background-image: url('/licenseserver/images/head/tools/ls-on.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 23px;	
	width: 162px; 
}

#head-menu ul ul li a {
	text-align: center;
	border: 0;
	width: 100%;
	height: 26px;
}

#head-menu li {
	position: relative;	
	z-index: 10;
}

#head-menu ul ul {
	z-index: 500;
	position: absolute !important;
	width: 100px;
}

#head-menu ul ul ul {
	left: 100%;
	top: 0px;
	border-left: 1px solid white;
	
}

div#head-menu ul ul {
	display: none;
}

div#head-menu ul li:hover ul ul {
	display: none;
}

/*added*/
div#head-menu ul li.liHover ul ul {
	display: none;
}

div#head-menu ul ul li:hover ul ul {
	display: none;
}

/*added*/
div#head-menu ul ul li.liHover ul ul {
	display: none;
}

div#head-menu ul li:hover ul {
	display: block;
}

/*added*/
div#head-menu ul li.liHover ul {
	DISPLAY: block;
}


div#head-menu ul ul li:hover ul {
	display: block;
}

/*added*/
div#head-menu ul ul li.liHover ul {
	display: block;
}


div#head-menu ul ul ul li:hover ul {
	display: block;
}

/*added*/
div#head-menu ul ul ul li.liHover ul {
	display: block;
}

#head-menu span {
	color: black; 
	font-weight: bold; 
	font-size: 11px; 
	font-family: arial,verdana,helvetica,sans-serif;
	margin-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;	
}
